.item {
  color: var(--color-text-dark);
  padding: 3rem 0;
  display: flex;
  align-items: center;

  & div {
    flex: 1;
    display: flex;
    align-items: center;
  }

  & div:first-child {
    flex: 2;
  }
}

.price {
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--color-text-dark);
}
