.cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(var(--color-black-rgb), 0.4);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 3rem 0;
  width: 80vw;
  max-width: 114rem;
  height: 100%;
  background-color: var(--color-white);
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba(var(--color-secondary-rgb), 0.2);
  z-index: 1010;
  overflow: auto;

  .header {
    display: flex;

    .title {
      flex: 1;
      padding: 1rem 2rem;
      color: var(--color-text-dark);
      font-size: 2.5rem;
      font-weight: 300;
    }

    .close {
      display: inline-block;
      padding: 0 2rem;
      font-size: 3rem;
      border: 0;
      border-radius: 0;
      background-color: transparent;
      color: var(--color-text-light);
      transition: all 0.2s;

      &:focus {
        outline: none;
      }

      &:hover,
      &:active,
      &:focus {
        color: var(--color-text-dark);
      }
    }
  }

  .content {
    padding: 1rem 2rem;
  }
}
