.text {
  border-top: 0.5rem solid var(--color-text-dark);
  padding-top: 5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-text-light);

  @media only screen and (max-width: 43.75em) {
    border: 0;
    padding-top: 1rem;
  }
}

.price {
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--color-text-dark);
  margin-left: 1rem;
}
